/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.snackbar-error {
	--mdc-snackbar-container-color: red !important;
	--mdc-snackbar-supporting-text-color: white !important;
	--mat-snack-bar-button-color: rgb(47, 47, 47) !important;
}

.snackbar-success {
	--mdc-snackbar-container-color: green !important;
	--mdc-snackbar-supporting-text-color: white !important;
	--mat-snack-bar-button-color: rgb(47, 47, 47) !important;
}